/* Body styles */
body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Tahoma, sans-serif;
}

/* Header styles */
#header {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* Board styles */
#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid black;
}

/* Cell styles */
.cell {
  height: 100px;
  width: 100px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  box-sizing: border-box;
  box-shadow: inset 0 0 2.5px black;
}

.cell:hover {
  background-color: rgb(211, 255, 255);
}

/* Circle styles */
@keyframes draw-circle {
  from {
    width: 0;
    height: 0;
  }

  to {
    width: 60%;
    height: 60%;
  }
}

.circle {
  width: 60%;
  height: 60%;
  border: 4px solid blue;
  border-radius: 50%;
  animation: draw-circle 200ms linear;

  &.small {
    width: 20px;
    height: 20px;
  }
}

/* Cross styles */
@keyframes draw-cross {
  from {
    height: 0;
  }

  to {
    height: 138%;
  }
}

.cross {
  width: 60%;
  height: 60%;
  position: relative;

  &.small {
    width: 20px;
    height: 20px;
  }
}

.cross::after,
.cross::before {
  position: absolute;
  bottom: 0;
  height: 138%;
  width: 4px;
  content: " ";
  background-color: red;
  transform-origin: bottom;
  animation: draw-cross 200ms linear;
}

.cross::before {
  left: -2px;
  transform: rotate(45deg);
}

.cross::after {
  right: -2px;
  transform: rotate(-45deg);
}
