body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Tahoma, sans-serif;
}

#header {
  display: flex;
  align-items: center;
  gap: 25px;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid black;
}

.cell {
  height: 100px;
  width: 100px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  box-sizing: border-box;
  box-shadow: inset 0 0 2.5px black;
}

.cell:hover {
  background-color: rgb(211, 255, 255);
}

.circle {
  width: 60%;
  height: 60%;
  border: 4px solid blue;
  border-radius: 50%;

  &.small {
    width: 20px;
    height: 20px;
  }
}

.cross {
  width: 60%;
  height: 60%;
  position: relative;

  &.small {
    width: 20px;
    height: 20px;
  }
}

.cross::before {
  position: absolute;
  left: -2px;
  bottom: 0;
  height: 138%;
  width: 4px;
  content: " ";
  background-color: red;
  transform: rotate(45deg);
  transform-origin: bottom;
}

.cross::after {
  position: absolute;
  right: -2px;
  bottom: 0;
  height: 138%;
  width: 4px;
  content: " ";
  background-color: red;
  transform: rotate(-45deg);
  transform-origin: bottom;
}
