/* Body styles */
body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Tahoma, sans-serif;
}

/* Header styles */
#header {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* Status display styles */
#status-display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 340px;
  margin-bottom: 20px;
  padding: 1rem;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

#shape-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

/* Board styles */
#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  padding: 1.5rem;
  border-radius: 16px;
}

/* Cell styles */
.cell {
  height: 100px;
  width: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 8px;

  &:hover:not(.highlight) {
    background-color: lavender;
  }
}

.highlight {
  background-color: yellow;
}

/* Circle styles */
@keyframes draw-circle {
  from {
    width: 0;
    height: 0;
  }

  to {
    width: 60%;
    height: 60%;
  }
}

.circle {
  width: 60%;
  height: 60%;
  border: 4px solid blue;
  border-radius: 50%;
  animation: draw-circle 200ms linear;

  &.small {
    width: 20px;
    height: 20px;
  }
}

/* Cross styles */
@keyframes draw-cross {
  from {
    height: 0;
  }

  to {
    height: 138%;
  }
}

.cross {
  width: 60%;
  height: 60%;
  position: relative;

  &.small {
    width: 20px;
    height: 20px;
  }
}

.cross::after,
.cross::before {
  position: absolute;
  bottom: 0;
  height: 138%;
  width: 4px;
  content: " ";
  background-color: red;
  transform-origin: bottom;
  animation: draw-cross 200ms linear;
}

.cross::before {
  left: -2px;
  transform: rotate(45deg);
}

.cross::after {
  right: -2px;
  transform: rotate(-45deg);
}
